//---------------------------------------------------------------------------
//
// Name:        EternityApp.rc
// Author:      
// Created:     17/12/2007 03:59:29 p.m.
// Description: 
//
//---------------------------------------------------------------------------

#include <wx/msw/wx.rc>
